header {
  padding: 0.3rem 0.3rem;
  font-size: 0.8rem;
}

pre {
  margin: 0;
  padding: 0.5rem 1rem;
}

/* ======= Highlight.js styles ======= */

:host([theme~='dark']) {
  @nested-import 'highlight.js/styles/atom-one-dark.css';
}

:host([theme~='light']) {
  @nested-import 'highlight.js/styles/vs.css';
}

pre {
  background: var(--code-background);
}
